:host {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  height: fit-content;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  position: sticky;
  z-index: var(--z-filter-menu);
  max-width: min(100% - 16px, 600px);
  max-height: calc(100% - 16px);
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

form[name="search-options"] {
  padding: 16px;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

fieldset:first-child {
  margin-top: 0;
}

.orders > fieldset {
  align-items: center;
}

.cote-a-cote {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 8px;
}

:host([section="mes-chromatiques"]) [data-section]:not([data-section~="mes-chromatiques"]),
:host([section="chromatiques-ami"]) [data-section]:not([data-section~="chromatiques-ami"]),
:host([section="corbeille"]) [data-section]:not([data-section~="corbeille"]),
:host([section="chasses-en-cours"]) [data-section]:not([data-section~="chasses-en-cours"]),
:host([section="partage"]) [data-section]:not([data-section~="partage"]) {
  display: none;
}

:host([section="mes-chromatiques"]) .orders {
  display: var(--orders-display, flex);
}

.caught-filter {
  display: var(--caught-filter-display, none);
}

input-select::part(container) {
  --elevation-opacity: var(--elevation-1-opacity);
}