:host {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto auto;
	--gap: 8px;
	gap: var(--gap);
	content-visibility: auto;
	contain-intrinsic-block-size: auto 200px;
}

h2 {
	margin-inline: 8px;
	margin-bottom: -8px;
}

::slotted(time) {
	opacity: .8;
}

h3 {
	grid-column: 1 / -1;
	margin-inline: 8px;
	text-wrap: balance;
	display: inline;
}

h3.title-medium {
	line-height: 1.25rem;
}

.shiny-list {
	grid-column: 1 / -1;
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: -2px;
}

.shiny-list ~ :is(a, button) {
	width: 100%;
	--surface-color: var(--secondary-container);
	color: rgb(var(--on-secondary-container));
	--state-tint: var(--on-secondary-container);
	border-radius: 50px;
	text-decoration: none;

	:host([username=""], :not([username])) & {
		display: none;
	}
}

.how-many-more {
	grid-column: 1 / -1;
	padding-inline: 8px;
	margin-block: -2px;
}

:host(:not([data-too-many])) .how-many-more {
	display: none;
}

.user-link {
	display: grid;
	place-content: center;
}

:host(:not([username])),
:host([username=""]) {
	& .user-link {
		display: none;
	}

	& [data-action="feliciter"] {
		grid-column: 1 / -1;
	}
}

::slotted(friend-shiny-card) {
	display: grid !important;
}

wavy-divider {
	grid-column: 1 / -1;
	color: rgb(var(--outline-variant));
	margin-top: calc(16px - var(--gap));
}