### No caching, leave it to service workers

<IfModule mod_headers.c>

    <filesMatch "\.(jpg|jpeg|png|webp|gif|ico|svg|css|json|js|php|html)$">
        Header unset Cache-Control
        Header unset Last-Modified
        Header unset ETag
        FileETag None
    </filesMatch>

    # Still cache sprites for 31 536 000 s = 1 year
    <filesMatch "^poke_(capture|icon)(.+)\.png$">
        Header set Cache-Control "max-age=31536000, public"
    </filesMatch>

    # Cache sprites (server from pokemon-sprite.php)
    # - of size 112 (used in shiny list) for 31 536 000 s = 1 year
    <If "%{QUERY_STRING} =~ /params=(.+?)&size=112&format=(webp|png)/">
        Header set Cache-Control "max-age=31536000, public"
    </If>
    # - of other sizes (e.g. used in Pokédex) for 2 630 000 s = 1 month
    <ElseIf "%{QUERY_STRING} =~ /params=(.+?)&size=([0-9]+?)&format=(webp|png)/">
        Header set Cache-Control "max-age=2630000, public"
    </ElseIf>

</IfModule>

### Rewrite URLs

RewriteEngine On

# Rewrite /shinydex/sprite-{params}.webp to /shinydex/backend/sprite.php?format=webp&params={params}
# and /shinydex/sprite-{params}.png to /shinydex/backend/sprite.php?format=png&params={params}
RewriteRule ^pokemon-sprite-(.*)-([0-9]+)\.(webp|png)$ backend/pokemon-sprite.php?params=$1&size=$2&format=$3 [l,QSA]