### No caching, leave it to service workers

<IfModule mod_headers.c>
    <filesMatch "\.(jpg|jpeg|png|webp|gif|ico|svg|css|json|js|php|html)$">
        Header unset Cache-Control
        Header unset Last-Modified
        Header unset ETag
        FileETag None
    </filesMatch>

    # Still cache sprites for 2 628 000 s = 1 month
    <filesMatch "^poke_(capture|icon)(.+)\.png$">
        Header set Cache-Control "max-age=2628000, public"
    </filesMatch>
</IfModule>

### Rewrite URLs

RewriteEngine On

# Rewrite /remidex/sprite-{params}.webp to /remidex/backend/sprite.php?format=webp&params={params}
# and /remidex/sprite-{params}.png to /remidex/backend/sprite.php?format=png&params={params}
RewriteRule ^pokemon-sprite-(.*)-([0-9]+)\.webp$ backend/pokemon-sprite.php?format=webp&params=$1&size=$2 [l,QSA]
RewriteRule ^pokemon-sprite-(.*)-([0-9]+)\.png$ backend/pokemon-sprite.php?format=png&params=$1&size=$2 [l,QSA]