:host {
  width: 100%;
  height: 120px;
  min-height: 120px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14);
  background-color: var(--card-bg-color);
  display: grid;
  --last-column: 0;
  grid-template-columns: [sprite] 120px [identity] 1fr [misc] auto [note] var(--last-column);
  grid-template-rows: 1fr [identity] auto 1fr [capture] auto 1fr;
  position: relative;
  order: var(--order, 0);
}

pokemon-sprite,
.edit-icon {
  grid-column: sprite;
  grid-row: 1 / -1;
  --size: 112px;
  width: var(--size);
  height: var(--size);
  padding: calc(.5 * (120px - var(--size)));
  background-color: var(--card-sprite-bg-color);
  display: grid;
  place-items: center;
  border-radius: 10px;
}

.edit-icon {
  display: grid;
  background-color: var(--card-edit-bg-color);
  position: relative;
  opacity: 0;
}

.edit-icon > .material-icons {
  display: grid;
  width: 50px;
  height: 50px;
  place-items: center;
  background-color: var(--card-sprite-bg-color);
  border-radius: 50%;
}

.edit-icon svg {
  width: 50px;
  height: 50px;
  position: absolute;
  overflow: visible;
}

.edit-icon circle {
  --diametre: 50;
  fill: transparent;
  stroke: var(--progress-bar-color);
  stroke-width: 2;
  --perimetre: calc(3.14 * var(--diametre));
  stroke-dasharray: var(--perimetre);
  stroke-dashoffset: var(--perimetre);
  transform: rotate(-90deg);
  transform-origin: center;
}

.pokemon-infos__identity {
  grid-row: identity;
  grid-column: identity;
  display: grid;
  grid-template-rows: [name] 32px [species] auto;
  grid-template-columns: [ball] 32px [name] fit-content(100%) [gene] 32px;
  position: relative;
  left: -16px;
  align-items: center;
}

[data-type="ball"] {
  grid-row: name;
  grid-column: ball;
  transition: transform .2s var(--easing-decelerate);
  transform: translate(0) rotate(0);
}

:host([open]) [data-type="ball"] {
  transition: transform .11s var(--easing-accelerate);
  transform: translate(15px) rotate(120deg);
}

[data-type="species"] {
  grid-row: species;
  grid-column: name;
  font-size: 1em;
  font-weight: 300;
  text-transform: capitalize;
  opacity: .8;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  left: 25px;
  top: -6px;
}

[data-type="name"],
[data-type="name"]:empty + [data-type="species"] {
  grid-row: name;
  grid-column: name;
  font-size: 1.5em;
  font-weight: 300;
  opacity: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  text-shadow: 1px 1px var(--card-bg-color);
  position: relative;
  left: 0;
  top: 0;
}

[data-type="name"]:empty {
  display: none;
}

[data-type="gene"] {
  grid-row: name;
  grid-column: gene;
  scale: 0.9;
  transform-origin: center bottom;
}

[data-type="gene"].icones.explain {
  margin: 3px 5px;
}

.pokemon-infos__misc {
  grid-row: 1 / span 2;
  grid-column: misc;
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  align-items: center;
  align-self: start;
  justify-self: end;
  margin: 10px;
}

[data-type="originMark"] {
  filter: invert(var(--dark-coeff));
}

.pokemon-infos__capture {
  grid-row: capture;
  grid-column: identity;
  color: var(--card-infos-text-color);
  font-size: .85em;
  display: grid;
  grid-template-columns: [game] 32px [info] auto;
  grid-template-rows: [method] auto [date] auto [detail] auto;
  gap: 0 5px;
  margin-left: 16px;
  align-items: center;
}

.pokemon-infos__capture > [data-type="game"] {
	grid-row: 1 / -1;
  grid-column: game;
}
.pokemon-infos__capture > [data-type="method"] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pokemon-notes {
  grid-row: 1 / -1;
  grid-column: identity / -1;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 120px;
  font-size: 1em;
  text-align: justify;
  line-height: 20px;
  color: var(--text-color);
  background-color: var(--card-bg-color);
  padding: 10px;
  z-index: 4;
  opacity: 0;
  transform: translate3d(100px, 0, 0);
  transition: transform .1s var(--easing-accelerate),
              opacity .1s var(--easing-accelerate);
  overflow: visible;
  scrollbar-width: thin;
}

:host([open]) > .pokemon-notes {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform .1s var(--easing-decelerate),
              opacity .1s var(--easing-decelerate);
}

.pokemon-notes__texte {
  margin: auto;
  max-height: 100%;
  overflow: auto;
}

.empty {
  color: var(--text-color-soft);
  opacity: .5;
}

/* Shiny rate */

.shiny-rate {
  grid-row: capture / span 2;
  grid-column: misc;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20px;
  gap: 4px;
  padding: 2px 8px;
  margin: 10px;
  height: fit-content;
  align-self: end;
  justify-self: end;
  border-radius: 20px;
  position: relative;
  --hue-min: 30;
  --hue-max: 170;
  background: hsl(calc(var(--hue-min) + var(--coeff) * (var(--hue-max) - var(--hue-min))), 50%, 50%);
}

.full-odds {
  background: repeating-linear-gradient(-45deg, 
    hsl(2,80%,50%) 0, 
    hsl(24,100%,50%) 5px, 
    hsl(39,100%,50%) 10px, 
    hsl(70,100%,50%) 15px, 
    hsl(158,100%,50%) 20px, 
    hsl(230,70%,50%) 25px, 
    hsl(252,100%,70%) 30px, 
    hsl(2,80%,50%) 35px
  );
}

.charm-odds {
  background: repeating-linear-gradient(-45deg, 
    mediumslateblue 0, 
    cyan 5px, 
    white 10px, 
    cyan 15px, 
    mediumslateblue 20px
  );
}

.one-odds {
  background: white;
}

.shiny-rate::before {
  content: '';
  display: block;
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: var(--card-bg-color);
  opacity: 1;
  top: 2px;
  left: 2px;
  border-radius: 20px;
}

.shiny-rate.with-charm {
  grid-template-columns: auto auto;
}

.shiny-rate > div {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.shiny-rate:not(.with-charm)>.shiny-charm {
  display: none;
}

.shiny-charm {
  grid-row: 1;
  grid-column: 1;
}

.shiny-charm > .icon {
  margin: -5px;
  margin-left: -10px;
}

.shiny-rate-text {
  color: var(--card_supporting_text_color);
  font-size: 1em;
}

.numerator.shiny-rate-text {
  font-size: .5em;
  position: absolute;
  top: 0;
  left: 0;
}

.separator.shiny-rate-text {
  opacity: .6;
  margin: 0 1px 0 3px;
  font-size: 1em;
}

.spacer {
  flex-grow: 1;
}

@container (min-width: 700px) {
  :host {
    --last-column: auto;
  }

  .pokemon-notes {
    grid-column: note / -1;
    opacity: 1;
    transform: none;
    width: calc(100cqi - 500px);
    background-color: var(--card-sprite-bg-color);
    border-radius: 10px;
  }

  .pokemon-notes,
  :host([open]) > .pokemon-notes {
    transition: none;
  }

  :host([open]) [data-type="ball"] {
    transform: translate(0) rotate(0);
  }
}