:host { display: contents; }

form {
  flex-grow: 1;
  max-width: 720px;
  height: 56px;
  display: grid;
  --icon-button-width: 44px;
  --filter-icon-column: var(--icon-button-width);
  grid-template-columns: [search-icon] 56px 1fr [reset-icon] var(--icon-button-width) [filter-icon] var(--filter-icon-column) 6px;
  place-items: center;
}

:host([no-filters]) form {
  --filter-icon-column: 0px;
}

form > * {
  grid-row: 1;
}

input[name="search"] {
  grid-column: 1 / -1;
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 8px);
  padding: 0 calc(var(--icon-button-width) + var(--filter-icon-column) + 4px) 0 56px;
  box-sizing: border-box;
  border-radius: 28px;
  font-family: inherit;
}

input[name="search"]::placeholder {
  color: rgb(var(--on-surface-variant));
}

[part="search-icon"], [part="reset-icon"], [part="filter-icon"] {
  color: rgb(var(--on-surface-variant));
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
}

[part="search-icon"] {
  grid-column: search-icon;
}

[part="reset-icon"] {
  grid-column: reset-icon;
}

[part="filter-icon"] {
  grid-column: filter-icon;
}

:host([no-filters]) [part="filter-icon"] {
  display: none;
}