:host {
	display: block;
	content-visibility: auto;
	contain-intrinsic-block-size: auto 200px;
}

h2 {
	margin-inline: 8px;
}

::slotted(time) {
	opacity: .8;
}

.user-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}