:host { display: contents; }

form.search-form {
  --filter-icon-column: var(--icon-button-width);
  grid-template-columns: [search-icon] 56px 1fr [reset-icon] var(--reset-icon-column) [filter-icon] var(--filter-icon-column) 2px;
}

:host([no-filters]) form {
  --filter-icon-column: 0px;
}

:host(:not([resetable])) form {
  --reset-icon-column: 0px;
}

input[name="search"] {
  grid-column: 1 / -1;
  padding: 0 calc(var(--reset-icon-column) + var(--filter-icon-column) + 4px) 0 56px;
}

[part="filter-icon"] {
  color: rgb(var(--on-surface));
  grid-column: filter-icon;
  cursor: auto;
}

:host(:not([resetable])) [part="reset-icon"],
:host([no-filters]) [part="filter-icon"] {
  display: none;
}