:host {
  width: 100%;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 14%) 0px 2px 2px 0px;
  background-color: var(--card-bg-color);
  display: grid;
  order: var(--order, 0);
  position: relative;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1ch;
}

.edit-notice {
  display: inline-block;
  grid-column: 2;
  grid-row: 1;
  padding: .2em;
  border-radius: 10px 10px 0 0;
  background-color: var(--card-sprite-bg-color);
  height: fit-content;
  text-align: center;
  flex-basis: 100%;
}

input[name="dexid"],
input[name="game"] {
  text-transform: capitalize;
}

[data-icon^="origin-mark"] {
  filter: invert(var(--dark-coeff));
}

input:invalid,
select:invalid,
textarea:invalid {
  outline: 2px dashed red;
}

form:has(:invalid) label[for="caught"] {
  cursor: not-allowed;
}

fieldset {
  grid-column: 1 / -1;
  flex-grow: 1;
  --display: flex;
  display: var(--display);
  flex-direction: row;
  align-items: center;
  column-gap: 2ch;
  row-gap: 1ch;
  padding: 1ch;
  flex-wrap: wrap;
  border: 2px solid var(--card-sprite-bg-color);
  border-radius: 10px;
  background: var(--card-sprite-bg-color);
}

fieldset.single {
  column-gap: 1ch;
}

.group {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2ch;
  row-gap: 1ch;
  margin: 10px;
}

fieldset:first-of-type {
  grid-column: unset;
}

legend {
  color: var(--text-color-soft);
  font-variant: small-caps;
}

.one-input {
  --display: flex;
  display: var(--display);
  flex-direction: row;
  align-items: center;
  gap: 1ch;
  flex-wrap: nowrap;
}

.button-group {
  width: fit-content;
  margin-inline: auto;
  border: none;
  background: none;
  flex-basis: 100%;
  justify-content: center;
}

form:not([data-edit]) [data-edit],
form[data-edit] [data-not-edit],
form:not(.caught) .capture-button-group ~ * {
  display: none !important;
}

:host(:not([data-gen-vc="true"]):not([data-method-mine="false"])) [data-checkmark-unsure],
:host(:not([data-method-mine="false"])) [data-not-mine],
:host(:not([data-charm-available="true"])) :is([name="charm"], [for="charm"]) {
  display: none;
}

fieldset:empty,
.one-input:empty,
select:empty,
label:has(+ select:empty) {
  display: none;
}