form:not(.edit) .yes-edit,
form.edit .not-edit,
form:not(.caught) .confirm-buttons ~ * {
  display: none;
}

:host [data-jeu],
:host(:not([data-gen-vc="true"]):not([data-methode-mine="false"])) [data-checkmark-unsure],
:host(:not([data-charm-available="true"])) :is([name="charm"], [for="charm"]) {
  display: none;
}

select:empty,
label:has(+ select:empty) {
  display: none;
}

input[name="dexid"],
input[name="jeu"] {
  text-transform: capitalize;
}

input:invalid,
select:invalid,
textarea:invalid {
  outline: 2px dashed red;
}

input[type=number] {
  all: unset;
  font-size: 24px;
  text-align: center;
}