:host {
  width: 100%;
  height: 2px;
  position: relative;
}

svg {
  width: 100%;
  height: 100%;
  overflow: visible;
  opacity: 0;
  transition: opacity .2s var(--easing-standard);
  position: absolute;
}

svg.loading,
svg.success,
svg.failure,
svg.lazy {
  opacity: 1;
}

.progress-line {
  stroke: var(--progress-bar-color);
  stroke-width: 2px;
  stroke-dasharray: var(--longueur, 0);
  stroke-dashoffset: var(--longueur, 0);
  transform-origin: center center;
}