search-bar {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: none;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  height: fit-content;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: var(--z-search-bar);
  width: min(100%, 800px);
  margin: 0 auto;
  padding: 0;
  --bg: var(--nav-bg-color);
  background-color: var(--bg);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 3px rgb(0, 0, 0, .1);
  will-change: clip-path;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body[data-search="true"] search-bar {
  display: grid;
}

form[name="search-bar"] {
  box-sizing: border-box;
  padding-right: 8px;
  background-color: var(--bg);
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto auto;
  align-items: center;
}

form[name="search-bar"] > .bouton-retour {
  grid-row: 1;
  grid-column: 1;
}

form[name="search-bar"] > input[type="text"] {
  grid-row: 1;
  grid-column: 2 / -1;
  box-sizing: border-box;
  height: calc(56px - 2 * 8px);
  flex-grow: 1;
  padding: 2px 56px;
  border: none;
  border-radius: 50px;
  box-shadow: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 0 0px 2px rgb(0, 0, 0, .2);
  font-size: 1rem;
}

form[name="search-bar"] > input::placeholder {
  color: var(--text-color-soft);
}

form[name="search-bar"] > .search-icon {
  grid-row: 1;
  grid-column: 2;
}

form[name="search-bar"] > .reset-icon {
  all: unset;
  grid-row: 1;
  grid-column: -2;
}

form[name="search-bar"] > :is(.search-icon, .reset-icon) {
  color: var(--text-color-soft);
  width: 56px;
  height: 56px;
  display: grid;
  place-items: center;
}

.search-hints {
  grid-row: 2;
  grid-column: 1 / -1;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 8px 16px 0;
  box-sizing: border-box;
  background-color: var(--bg);
}

.search-hints,
.search-options {
  padding: 16px;
}

.search-hints:empty {
  display: none;
}

search-bar[section="pokedex"] .if-ordre,
search-bar[section="chasses-en-cours"] .menu-filtres,
search-bar[section="corbeille"] .menu-filtres,
search-bar[section="partage"] .if-filtres,
search-bar[section="partage"] input[type="radio"],
search-bar[section="partage"] label[for^="ordre"],
search-bar:not([section="partage"]) .if-partage,
search-bar[section="ajouter-ami"] .search-options {
  display: none;
}

search-bar[section="partage"] input[type="radio"].if-partage,
search-bar[section="partage"] label[for^="ordre"].if-partage,
search-bar[section="partage"] input[type="radio"]#ordre-date-ajout,
search-bar[section="partage"] label[for="ordre-date-ajout"] {
  display: grid;
}

search-bar .sous-titre>span {
  --bg: inherit;
}

.reverse-order__container {
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
}

.reverse-order__container > * {
  grid-row: 1;
  grid-column: 1;
}

input[name="orderReversed"]:checked + label > i {
  transform: scaleY(-1);
}

input[type="checkbox"] + label[for="orderReversed"] {
  display: grid;
  place-items: center;
  border: none;
  padding: 0px;
  margin: 0px;
  overflow: visible;
}

input[type="checkbox"] + label[for="orderReversed"] > * {
  grid-row: 1;
  grid-column: 1;
}

input[type="checkbox"] + label[for="orderReversed"]::after {
  display: none;
}

input[type="checkbox"] + label[for="orderReversed"]::before {
  grid-row: 1;
  grid-column: 1;
  content: '';
  display: block;
  width: var(--tap-safe-size);
  height: var(--tap-safe-size);
  background: none;
  margin: 0;
  box-shadow: none;
}

search-bar[section="mes-chromatiques"] [data-section]:not([data-section~="mes-chromatiques"]),
search-bar[section="chromatiques-ami"] [data-section]:not([data-section~="chromatiques-ami"]),
search-bar[section="corbeille"] [data-section]:not([data-section~="corbeille"]),
search-bar[section="chasses-en-cours"] [data-section]:not([data-section~="chasses-en-cours"]),
search-bar[section="partage"] [data-section]:not([data-section~="partage"]) {
  display: none;
}