search-bar {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: none;
  height: 56px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: var(--z-search-bar);
  width: min(100%, 800px);
  margin: 0px auto;
  --bg: var(--nav-bg-color);
  background-color: var(--bg);
}

body[data-search="true"] search-bar {
  display: flex;
}

search-bar > input[type="text"] {
  box-sizing: border-box;
  height: 100%;
  flex-grow: 1;
  padding: 2px 56px;
  border: none;
  border-radius: 50px;
  box-shadow: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 0 0px 2px rgb(0, 0, 0, .2);
}

search-bar > input::placeholder {
  color: var(--text-color-soft);
}

.search-icon {
  position: absolute;
  color: var(--text-color-soft);
  left: calc(56px + 0.5 * 56px - 0.5 * 24px);
}

.reset-icon {
  all: unset;
  width: 56px;
  height: 56px;
  position: absolute;
  color: var(--text-color-soft);
  display: grid;
  place-items: center;
  right: 16px;
}

.search-options {
  display: grid;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  background-color: var(--bg);
  font-size: 1rem;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 3px rgb(0, 0, 0, .1);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% + 10px), 0 calc(100% + 10px));
}

.search-suggestions {
  grid-row: 1;
  grid-column: 1;
  display: none;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0 16px 8px;
  box-sizing: border-box;
  background-color: var(--bg);
  border-bottom: 8px solid var(--bg-color);
}

.search-suggestions.on {
  display: block;
}

.search-suggestions > li {
  display: none;
}

.search-hints {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  width: 100%;
  padding-top: 16px 0 8px;
  box-sizing: border-box;
  background-color: var(--bg);
}

.menu-filtres {
  grid-row: 3;
  grid-column: 1;
  display: grid;
  grid-template-rows: 56px auto auto auto auto;
  grid-template-columns: 1fr;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--bg);
}

search-bar .sous-titre>span {
  --bg: inherit;
}