/*@media (min-height: 850px) {
  nav::before {
    display: none;
  }
}*/

.nav-link[data-nav-section="pokedex"],
.nav-link[data-nav-section="corbeille"],
.nav-link[data-nav-section="a-propos"] {
  display: none;
}

body[data-section-actuelle~="pokedex"] .nav-link[data-nav-section="mes-chromatiques"],
body[data-section-actuelle~="mes-chromatiques"] .nav-link[data-nav-section="pokedex"],
body[data-section-actuelle~="corbeille"] .nav-link[data-nav-section="chasses-en-cours"],
body[data-section-actuelle~="chasses-en-cours"] .nav-link[data-nav-section="corbeille"],
body[data-section-actuelle~="a-propos"] .nav-link[data-nav-section="parametres"],
body[data-section-actuelle~="parametres"] .nav-link[data-nav-section="a-propos"]/*,
body[data-section-actuelle~="chromatiques-ami"] .nav-link[data-nav-section="partage"],
body[data-section-actuelle~="partage"] .nav-link[data-nav-section="chromatiques-ami"]*/ {
  color: rgb(var(--on-surface));
  --icon-surface: var(--secondary-container);
  --icon-color: var(--on-secondary-container);
  --indicator-elevation-opacity: var(--elevation-2-opacity);
}

body[data-section-actuelle~="mes-chromatiques"] {
  --caught-filter-display: flex; /* disables "display: none" on caught filter in filter-menu */
}

main {
  grid-template-columns: 1fr 1fr;
}

body[data-section-actuelle~="mes-chromatiques"] #pokedex,
body[data-section-actuelle~="pokedex"] #mes-chromatiques,
body[data-section-actuelle~="chasses-en-cours"] #corbeille,
body[data-section-actuelle~="corbeille"] #chasses-en-cours,
/*body[data-section-actuelle~="partage"] #chromatiques-ami,
body[data-section-actuelle~="chromatiques-ami"] #partage,*/
body[data-section-actuelle~="parametres"] #a-propos,
body[data-section-actuelle~="a-propos"] #parametres {
  display: grid;
}

body[data-section-actuelle~="partage"] #chromatiques-ami:not([data-pseudo]) {
  display: none;
}

#mes-chromatiques > .section-contenu,
#pokedex > .section-contenu,
#chasses-en-cours > .section-contenu,
#partage > .section-contenu {
  padding-bottom: 8px;
}

body[data-section-actuelle~="parametres"] main {
  grid-template-columns: 1fr 1fr;
}

.notification-container {
  max-width: calc(.5 * (100% - 112px));
}