html {
  --z-notification: 32;
}

body {
  grid-template-rows: 1fr;
  grid-template-columns: 112px 1fr;
}

body[data-section-actuelle] nav,
nav {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  --nombre-sections: 7;
  grid-template-rows: repeat(var(--nombre-sections), 84px);
  grid-template-columns: auto;
  --nav-bg-color: var(--bg-color);
  padding: 0;
  max-height: 100%;
  overflow: auto;
  padding-bottom: calc(56px + 2 * 16px);
}

nav > search-box::part(form) {
  display: none;
}

.nav-link {
  align-items: center;
}

.nav-link.only-pc {
  display: flex;
}

.nav-link.only-mobile {
  display: none;
}

.nav-link::before {
  --size: 112px;
}

nav > a > span {
  text-align: center;
}

nav sync-progress {
  /* top: padding-top + (total-height - padding-bottom - padding-top - icon-height - text-height - gap) / 2 */
  top: calc(12px + (84px - 12px - 16px - 32px - 16px - 4px) / 2);
}

main {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  overflow-y: hidden;
  padding: 0 8px;
}

.section-titre search-box {
  display: contents;
}

.titre-icones {
  display: none;
}

.section-titre .bouton-retour {
  display: none;
}

.section-titre.with-button {
  padding-left: 16px;
}

.fab {
  bottom: 0;
  right: unset;
  left: calc(.5 * 112px - .5 * 56px - 16px);
  margin: 16px 0;
  --z-fab: 30;
  --notification-container-height: 0;
}

.app-icon {
  margin: 0;
}

.notification-container {
  width: fit-content;
  max-width: calc(100% - 112px);
  max-height: 50vh;
  top: 100%;
  left: 112px;
}

.snackbar {
  width: fit-content;
}

#filter-menu {
  --from: -1rem;
}

filter-menu {
  margin-top: var(--section-title-height);
  margin-bottom: auto;
}

#google-one-tap-container {
  margin: 16px;
}