.nav-link[data-nav-section="pokedex"],
.nav-link[data-nav-section="corbeille"],
.nav-link[data-nav-section="a-propos"] {
  display: none;
}

body[data-section-actuelle~="pokedex"] .nav-link[data-nav-section="mes-chromatiques"],
body[data-section-actuelle~="corbeille"] .nav-link[data-nav-section="chasses-en-cours"],
body[data-section-actuelle~="a-propos"] .nav-link[data-nav-section="parametres"] {
  color: rgb(var(--on-surface));
  --icon-surface: var(--secondary-container);
  --icon-color: var(--on-secondary-container);
}

body[data-no-search] nav,
nav {
  --nombre-sections: 4;
}

main {
  grid-template-columns: 1fr 1fr;
}

#mes-chromatiques {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#pokedex {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

body[data-section-actuelle~="mes-chromatiques"] #pokedex,
body[data-section-actuelle~="pokedex"] #mes-chromatiques,
body[data-section-actuelle~="chasses-en-cours"] #corbeille,
body[data-section-actuelle~="corbeille"] #chasses-en-cours,
body[data-section-actuelle~="partage"] #chromatiques-ami,
body[data-section-actuelle~="chromatiques-ami"] #partage,
body[data-section-actuelle~="parametres"] #a-propos,
body[data-section-actuelle~="a-propos"] #parametres {
  display: grid;
}

body[data-section-actuelle~="partage"] #chromatiques-ami:not([data-pseudo]) {
  display: none;
}

#pokedex .defer {
  display: flex;
}

#mes-chromatiques > .section-contenu,
#pokedex > .section-contenu,
#chasses-en-cours > .section-contenu,
#partage > .section-contenu {
  padding-bottom: 8px;
}

#pokedex .defer-loader {
  display: none;
}

body[data-section-actuelle~="parametres"] main {
  grid-template-columns: 1fr 1fr;
}

#parametres {
  grid-column: 1;
  grid-row: 1 / 2;
}

#a-propos {
  grid-column: 2;
  grid-row: 1 / 2;
}