html {
  --z-notification: 32;
}

body {
  grid-template-rows: 1fr;
  grid-template-columns: 112px 1fr;
}

body[data-no-search] nav,
nav {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  --nombre-sections: 7;
  grid-template-rows: repeat(var(--nombre-sections), 84px);
  grid-template-columns: auto;
  --nav-bg-color: var(--bg-color);
  padding: 0;
  max-height: 100%;
  overflow: auto;
  padding-bottom: calc(56px + 2 * 16px);
}

nav > search-box::part(form) {
  display: none;
}

nav.bottom-bar {
  box-shadow: none;
}

.nav-link {
  align-items: center;
  /*overflow: visible;*/
}

.nav-link.only-pc {
  display: flex;
}

.nav-link.only-mobile {
  display: none;
}

.nav-link::before {
  --size: 112px;
}

nav > a > span {
  text-align: center;
}

body[data-section-actuelle~="parametres"] .nav-link[data-nav-section="parametres"],
body[data-section-actuelle~="a-propos"] .nav-link[data-nav-section="a-propos"] {
  color: rgb(var(--on-surface));
  --icon-surface: var(--secondary-container);
  --icon-color: var(--on-secondary-container);
}

main {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  overflow-y: hidden;
  padding: 0 8px;
}

.section-titre search-box {
  display: contents;
}

.titre-icones {
  display: none;
}

.section-titre .bouton-retour {
  display: none;
}

.section-titre.with-button {
  padding-left: 16px;
}

material-button.fab::part(button) {
  bottom: 0;
  right: unset;
  left: calc(.5 * 112px - .5 * 56px);
  margin: 16px 0;
  --z-fab: 30;
}

.notification {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  left: 16px;
  bottom: 16px;
  width: 50%;
  max-width: 500px;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--shadow-elevation-medium);
}

material-button.fab.notif::part(button) {
  --decalage: calc(-1 * var(--bottom-bar-height) - 16px);
}

.progression-maj {
  top: 0;
}