/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!! ÉLÉMENTS GLOBAUX !!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

html {
  --link-iconsheet: url(/shinydex/images/iconsheet.webp);
  --link-pokemonsheet: url(/shinydex/images/pokemonsheet.webp);
  --tap-safe-size: 48px;
  --border-radius: 12px;
  --sub-border-radius: calc(1.12 * (var(--border-radius) - var(--distance-to-parent-border, 4px))); /* 12% optical adjustment */
  --section-title-height: 64px;
  --nav-bar-height: 80px;

  /* Élévation */
  --z-top-layer: 60;
  --z-sprite-viewer: 60;
  --z-filter-menu: 50; /* Material elevation 3 */
  --z-obfuscator: 40;
  --z-section-titre: 35;
  --z-fab: 30; /* Material elevation 3 */
  --z-nav: 25; /* Material elevation 2 */
  --z-notification: 20; /* Material elevation 2 */
}

p {
  margin: 0;
}
p + p {
  margin-top: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  display: grid;
  --nav-bar-height: 80px;
  --bottom-bar-height: calc(var(--nav-bar-height) + var(--section-title-height) - 8px);
  grid-template-rows: 1fr var(--bottom-bar-height);
  grid-template-columns: 1fr;
  margin: 0;
  font-family: 'Roboto', system-ui;
}

body:not(
  [data-section-actuelle~="mes-chromatiques"],
  [data-section-actuelle~="pokedex"],
  [data-section-actuelle~="chasses-en-cours"],
  [data-section-actuelle~="corbeille"],
  [data-section-actuelle~="partage"],
  [data-section-actuelle~="chromatiques-ami"]
) {
  --bottom-bar-height: var(--nav-bar-height);
}

[hidden] {
  display: none !important;
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!! BARRE DE NAVIGATION !!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

nav {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: grid;
  --nombre-sections: 4;
  grid-template-rows: calc(var(--section-title-height) - 8px) 1fr;
  grid-template-columns: repeat(var(--nombre-sections), 1fr);
  align-items: center;
  z-index: var(--z-nav);
}

nav > search-box::part(form) {
  grid-row: 1;
  grid-column: 1 / -1;
  padding-inline: 8px;
  margin: auto;
  margin-bottom: 0;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
}

nav > search-box::part(input) {
  --surface-color: var(--surface-container-high);
  --elevation-opacity: var(--elevation-2-opacity);
  height: 100%;
}

.nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 4px;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  outline-offset: -3px;
  height: 100%;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 16px;
  color: rgb(var(--on-surface-variant));
  --indicator-elevation-opacity: 0;
  background: none;
}

.nav-link:is(:focus, :hover, :active) {
  --indicator-elevation-opacity: var(--elevation-2-opacity);
}

@media (hover: none) {
  .nav-link:is(:focus, :hover) {
    --state-opacity: 0;
    --indicator-elevation-opacity: 0;
  }
}

@keyframes bulle-nav {
  0% { opacity: calc(1 * .16); transform: scale(0); }
  90% { opacity: calc(.4 * .16); }
  100% { opacity: 0; transform: scale(1); }
}

.nav-link::before {
  content: '';
  display: block;
  position: absolute;
  transform: scale(0);
  transform-origin: var(--transform-origin, center center);
  --size: calc(90vw / var(--nombre-sections));
  width: var(--size);
  height: var(--size);
  background-color: var(--nav-bubble-color);
  border-radius: 50%;
  z-index: 0;
}

.nav-link.only-pc {
  display: none;
}

.nav-link.bubbly::before {
  animation: bulle-nav .3s var(--easing-decelerate);
}

.nav-link shiny-stars {
  --size: 1.2em;
}

.nav-link .material-icons {
  height: 32px;
  width: 64px;
  border-radius: 16px;
  display: flex;
  place-items: center;
  justify-content: center;
  background-color: rgb(var(--icon-surface, 0 0 0 0));
  color: rgb(var(--icon-color, var(--on-surface-variant)));
  --elevation-opacity: var(--indicator-elevation-opacity);
  --state-tint: var(--icon-state-tint, var(--on-surface-variant));
}

body[data-section-actuelle~="mes-chromatiques"] .nav-link[data-nav-section="mes-chromatiques"],
body[data-section-actuelle~="pokedex"] .nav-link[data-nav-section="pokedex"],
body[data-section-actuelle~="chasses-en-cours"] .nav-link[data-nav-section="chasses-en-cours"],
body[data-section-actuelle~="partage"] .nav-link[data-nav-section="partage"],
body[data-section-actuelle~="corbeille"] .nav-link[data-nav-section="corbeille"],
body[data-section-actuelle~="parametres"] .nav-link[data-nav-section="parametres"],
body[data-section-actuelle~="a-propos"] .nav-link[data-nav-section="a-propos"] {
  color: rgb(var(--on-surface));
  --icon-surface: var(--secondary-container);
  --icon-color: var(--on-secondary-container);
  --indicator-elevation-opacity: var(--elevation-2-opacity);
  --icon-state-tint: var(--on-surface);
}

body[data-section-actuelle~="pokedex"] {
  --caught-filter-display: flex; /* disables "display: none" on caught filter in filter-menu */
  --orders-display: none;
}

body:not([data-section-actuelle~="mes-chromatiques"]) nav search-box[section="mes-chromatiques"]::part(form),
body:not([data-section-actuelle~="pokedex"]) nav search-box[section="pokedex"]::part(form),
body:not([data-section-actuelle~="chasses-en-cours"]) nav search-box[section="chasses-en-cours"]::part(form),
body:not([data-section-actuelle~="corbeille"]) nav search-box[section="corbeille"]::part(form),
body:not([data-section-actuelle~="partage"]) nav search-box[section="partage"]::part(form),
body:not([data-section-actuelle~="chromatiques-ami"]) nav search-box[section="chromatiques-ami"]::part(form) {
  display: none;
}

body:not(
  [data-section-actuelle~="mes-chromatiques"],
  [data-section-actuelle~="pokedex"],
  [data-section-actuelle~="chasses-en-cours"],
  [data-section-actuelle~="corbeille"],
  [data-section-actuelle~="partage"],
  [data-section-actuelle~="chromatiques-ami"]
) nav {
  grid-template-rows: 1fr;
}

.lien-section,
.bouton-retour {
  cursor: pointer;
}

.lien-section > sync-progress,
.sous-titre > sync-line {
  position: absolute;
}

nav > a > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!! SECTIONS PRINCIPALES !!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

main {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  height: 100%;
}

section {
  display: none;
  overflow-anchor: none;
  height: 100%;
  overflow: hidden;
}

main > section {
  grid-template-rows: var(--section-title-height) auto;
}

main > section.on,
body[data-section-actuelle~="mes-chromatiques"] #mes-chromatiques,
body[data-section-actuelle~="pokedex"] #pokedex,
body[data-section-actuelle~="chasses-en-cours"] #chasses-en-cours,
body[data-section-actuelle~="corbeille"] #corbeille,
body[data-section-actuelle~="partage"] #partage,
body[data-section-actuelle~="chromatiques-ami"] #chromatiques-ami,
body[data-section-actuelle~="parametres"] #parametres,
body[data-section-actuelle~="a-propos"] #a-propos,
body[data-section-actuelle~="sprite-viewer"] #sprite-viewer[data-ready],
body[data-section-actuelle~="filter-menu"] #filter-menu,
body[data-section-actuelle~="user-search"] #user-search,
body[data-section-actuelle~="changelog"] #changelog,
body[data-section-actuelle~="top-layer"] #top-layer,
body[data-section-actuelle~="obfuscator"] #obfuscator {
  display: grid;
}

/*body[data-section-actuelle~="mes-chromatiques"] main,
body[data-section-actuelle~="pokedex"] main {
  --surface-color: var(--surface-container);
}*/

.section-titre {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  position: sticky;
  top: 0;
  z-index: var(--z-section-titre);
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgb(var(--surface-container));
}

.section-titre.at-top {
  background-color: rgb(var(--surface));
}

.section-titre h1 {
  overflow: hidden;
}

.spacer {
  flex-grow: 1;
}

.section-titre.with-button {
  padding-left: 0;
}

.section-titre search-box {
  display: none;
}

.titre-icones {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

a.icon-button.bouton-retour {
  margin: 8px;
  margin-right: 0;
  min-width: 40px;
}

.compteur {
	display: flex;
	justify-content: center;
	align-items: center;
  position: relative;
	min-width: 36px;
  height: 36px;
  box-sizing: border-box;
  padding: 8px;
	border-radius: 18px;
	letter-spacing: 0;
  gap: 2px;
}

#pokedex .compteur > span {
  opacity: .8;
}

#pokedex .compteur > .caught {
  opacity: 1;
}

.section-contenu {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  gap: 8px;
  padding: 8px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
  /*scrollbar-gutter: stable;*/
  scrollbar-width: thin;
  container-name: section-contenu;
  container-type: inline-size;
  will-change: scroll-position;
}

.scroll-detector {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
}

.liste-cartes {
  width: 100%;
  flex: none;
  display: grid;
  gap: 8px;
}

.liste-cartes:empty {
  display: none;
}

/*body[data-section-actuelle~="obfuscator"] .section-contenu {
  overflow-y: hidden;
}*/

section.loading .compteur {
  display: none;
}


/*
 * FAB
 */

@keyframes fab-apparition {
  0% { transform: translate3D(0, calc(-1px * var(--notification-container-height, 0)), 0) scale(0); }
  100% { transform: translate3D(0, calc(-1px * var(--notification-container-height, 0)), 0) scale(1); }
}

.fab {
  display: none;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: fixed;
  z-index: var(--z-fab);
  bottom: var(--bottom-bar-height);
  right: 0;
  animation: fab-apparition .2s var(--easing-standard) .2s;
  animation-fill-mode: backwards;
  transform: translate3D(0, calc(-1px * var(--notification-container-height, 0)), 0) scale(1);
  transition: transform .3s var(--easing-standard),
              box-shadow .3s var(--easing-standard);
  --decalage: 0;
  --elevation-opacity: 0;
}

.fab > .material-icons {
  backface-visibility: hidden;
}

.fab.notif {
  --decalage: calc(-1 * var(--bottom-bar-height));
  transition: transform .15s var(--easing-decelerate);
}

@supports (selector(:has(*))) {
  body[data-section-actuelle~="mes-chromatiques"]:has(#mes-chromatiques:not(.loading)) .fab,
  body[data-section-actuelle~="pokedex"]:has(#pokedex:not(.loading)) .fab,
  body[data-section-actuelle~="chasses-en-cours"]:not([data-section-actuelle~="corbeille"]):has(#chasses-en-cours:not(.loading)) .fab,
  body[data-section-actuelle~="partage"]:has(#partage:not(.loading)) .fab {
    display: flex;
  }
}

@supports not (selector(:has(*))) {
  body[data-section-actuelle~="mes-chromatiques"] .fab,
  body[data-section-actuelle~="pokedex"] .fab,
  body[data-section-actuelle~="chasses-en-cours"]:not([data-section-actuelle~="corbeille"]) .fab,
  body[data-section-actuelle~="partage"] .fab {
    display: flex;
  }
}

#mes-chromatiques > .section-contenu,
#pokedex > .section-contenu,
#chasses-en-cours > .section-contenu,
#partage > .section-contenu {
  padding-bottom: calc(56px + 2 * 15px);
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!! CARTE D'UN POKÉMON !!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

div[data-replaces] {
  border-radius: var(--border-radius);
}

div[data-replaces="shiny-card"],
div[data-replaces="friend-shiny-card"],
div[data-replaces="corbeille-card"],
shiny-card,
friend-shiny-card,
corbeille-card {
  contain-intrinsic-height: 120px;
  contain: size layout paint;
  height: 120px;
  min-height: 120px;
}

div[data-replaces="friend-card"],
friend-card {
  content-visibility: auto;
  contain-intrinsic-height: 126px;
}

div[data-replaces="shiny-card"],
div[data-replaces="friend-shiny-card"],
div[data-replaces="corbeille-card"],
div[data-replaces="friend-card"] {
  content-visibility: auto;
}

div[data-replaces="hunt-card"],
hunt-card {
  content-visibility: auto;
  contain-intrinsic-height: auto 400px;
}

@keyframes intro {
  0% { transform: translateY(60px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

body.welcome [data-replaces="shiny-card"] {
  opacity: 0;
}

body.welcome shiny-card {
  animation: intro .35s var(--easing-standard);
  --delay: calc(var(--order) * 50ms);
  animation-delay: var(--delay, 0ms);
  animation-fill-mode: backwards;
}

.vide {
  height: 100%;
}

.message-vide-recherche,
.message-vide-filtres,
.message-vide {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content min-content 1fr;
  font-size: 1.125rem;
  color: var(--text-color-soft);
  opacity: .5;
  flex-grow: 1;
  text-align: center;
  width: 60%;
  gap: 8px;
  align-self: center;
  justify-self: center;
}

.message-vide-recherche > .material-icons,
.message-vide-filtres > .material-icons,
.message-vide > .material-icons {
  font-size: 2.625rem;
  grid-row: 2 / 3;
}

.message-vide-recherche > span,
.message-vide-filtres > span,
.message-vide > span {
  grid-row: 3 / 4;
}

section:not(.vide-recherche) .message-vide-recherche,
section:not(.vide-filtres) .message-vide-filtres,
section:not(.vide) .message-vide {
  display: none;
}

section.vide-filtres.vide-recherche .message-vide-recherche,
section.vide.vide-recherche .message-vide-recherche,
section.vide.vide-filtres .message-vide-filtres {
  display: none;
}

.section-loader {
  margin: auto;
}

section:not(.loading) .section-loader,
section.loading :is(
  .liste-cartes,
  shiny-card,
  .pokedex-gen,
  hunt-card,
  corbeille-card,
  friend-card,
  friend-shiny-card
) {
  display: none;
}

section.loading .message-vide-filtres,
section.loading .message-vide {
  display: none;
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!! POKÉDEX !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.pokedex-gen {
  width: 100%;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 44px);
  gap: 8px;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow: hidden;
  /*content-visibility: auto;
  contain-intrinsic-height: calc(var(--rows) * 44px + (var(--rows) - 1) * 8px);*/
}

.pokedex-gen-header {
  grid-column: 1 / -1;
  padding: 4px 4px 2px;
  justify-content: center;
  align-items: center;
  --distance-to-parent-border: 8px;
  border-radius: var(--sub-border-radius);
  --text-color: var(--on-surface-variant);
}

div[data-replaces="dex-icon"],
dex-icon {
  display: grid;
  place-items: center;
  --distance-to-parent-border: 8px;
  border-radius: var(--sub-border-radius);
  position: relative;
  width: 44px;
  height: 44px;

  --surface-color: var(--surface);
  --elevation-opacity: var(--elevation-3-opacity);
  --state-tint: var(--on-secondary);
}

div[data-replaces="dex-icon"] {
  content-visibility: auto;
  contain-intrinsic-size: 44px 44px;
}

[data-replaces="dex-icon"]:not([data-caught="true"]),
dex-icon:not([data-caught="true"]) {
  --surface-opacity: 0;
}

[data-replaces="dex-icon"]:not([data-caught="true"]):not(:hover, :focus, :active),
dex-icon:not([data-caught="true"]):not(:hover, :focus, :active) {
  --elevation-opacity: 0;
}

[data-replaces="dex-icon"][data-caught="true"],
dex-icon[data-caught="true"] {
  --surface-color: var(--secondary-container);
  --state-tint: var(--on-secondary-container);
  --surface-tint: var(--secondary);
  --elevation-opacity: 0;
}

dex-icon .pkmnicon {
  outline-offset: -1px;
}

dex-icon:not([data-caught="true"]) .pkmnicon {
  filter: grayscale(.95) brightness(var(--pkmnicon-brightness));
}

.pkmnicon {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!! FILTERS & ORDER !!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

section:not([data-filter-mine~="true"]) [data-mine="true"],
section:not([data-filter-mine~="false"]) [data-mine="false"],
section:not([data-filter-legit~="true"]) [data-legit="true"],
section:not([data-filter-legit~="false"]) [data-legit="false"] {
  display: none;
}

#pokedex:not([data-filter-caught~="true"]) [data-caught="true"],
#pokedex:not([data-filter-caught~="false"]) [data-caught="false"] {
  display: none;
}

body:not([data-filters~="mes-chromatiques"]) filter-menu[section="mes-chromatiques"],
body:not([data-filters~="chasses-en-cours"]) filter-menu[section="chasses-en-cours"],
body:not([data-filters~="corbeille"]) filter-menu[section="corbeille"],
body:not([data-filters~="partage"]) filter-menu[section="partage"],
body:not([data-filters~="chromatiques-ami"]) filter-menu[section="chromatiques-ami"] {
  display: none;
}

#filter-menu {
  --from-x: 0;
  --from-y: 1rem;
}

filter-menu,
.user-search-card,
.changelog-card {
  margin-bottom: calc(var(--bottom-bar-height) + 8px);
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!! FRIENDS LIST !!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.outlined-card {
  border: 1px solid rgb(var(--outline));
  border-radius: var(--border-radius);
  padding: 16px;
}

.message-tuto > * {
  max-width: 65ch;
}

.message-tuto ul {
  margin: 8px 0 0 0;
  padding: 0 0 0 16px;
}

.message-tuto[data-not-shared] {
  border-color: rgb(var(--outline));
}

.message-tuto[data-shared] {
  border-color: rgb(var(--success));
}

#user-search {
  --from-x: 1rem;
  --from-y: 0;
}

.user-search-card,
.changelog-card {
  height: fit-content;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  position: sticky;
  z-index: var(--z-filter-menu);
  max-width: min(100% - 16px, 600px);
  max-height: calc(100% - 2 * var(--bottom-bar-height) - 16px);
  margin-inline: auto;
  margin-top: auto;
  overflow: hidden auto;
  padding: 16px;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 350px;
}

.user-search-card {
  margin-right: 8px;
}

.search-form[name="user-search"] {
  height: 48px;
  margin-block: -4px;
  --reset-icon-column: 40px;
  grid-template-columns: [input-start search-icon] 56px 1fr [reset-icon] var(--reset-icon-column) [input-end] 4px [submit-button] auto;
  container-type: inline-size;
}

.search-form[name="user-search"] input[role="searchbox"] {
  grid-column: input-start / input-end;
  padding-left: 16px;
  --elevation-opacity: var(--elevation-3-opacity);
}

.search-form[name="user-search"] button[type="submit"] {
  grid-column: submit-button;
}

form[name="user-profile"] {
  display: flex;
  padding: 8px;
  border-radius: var(--border-radius);
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!! PARAMÈTRES !!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#parametres {
  min-height: 100%;
}

form[name="app-settings"],
#a-propos > .section-contenu {
  box-sizing: border-box;
  width: 100%;
}

body[data-section-actuelle~="parametres"] main,
body[data-section-actuelle~="a-propos"] main {
  --surface-color: var(--surface-default);
}

#parametres > .section-contenu,
#a-propos > .section-contenu {
  --padding: 16px;
  padding: var(--padding);
  padding-top: 0;
}

#parametres > .section-contenu > *,
#a-propos > .section-contenu > * {
  max-width: 65ch;
  margin-inline: auto;
}

h2:not(:first-child) {
  margin-top: 16px;
}

.un-parametre {
  display: grid;
  grid-template-columns: minmax(auto, 40ch) auto;
  grid-template-rows: 1fr [title] auto [description] var(--description-row) 1fr;
  --description-row: 0;
  column-gap: 16px;
  min-height: 32px;
  padding-block: 8px;
  text-align: left;
  align-items: center;
  container-type: inline-size;
}

.un-parametre.with-description {
  --description-row: auto;
}

.un-parametre.theme {
  grid-template-columns: auto 1fr;
}

.un-parametre.theme > .param {
  grid-template-columns: auto auto auto;
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
}

.un-parametre + .un-parametre {
  margin-top: 0;
  border-top: 1px solid rgb(var(--outline-variant));
}

.param-nom,
.param-description {
  max-width: 40ch;
}

.param-nom {
  display: block;
  grid-row: title;
  grid-column: 1;
  color: rgb(var(--on-surface));
}

.param-description {
  grid-row: description;
  grid-column: 1;
  color: rgb(var(--on-surface-variant));
}

.param {
  align-self: start;
  display: grid;
  align-items: center;
  justify-content: end;
  min-width: 150px;
  min-height: calc(1.5rem + 1.25rem);
}

.un-parametre > label,
.un-parametre > input,
.un-parametre > input-switch,
.un-parametre > .param {
  grid-row: 1 / -1;
  grid-column: 2;
}

[data-action="check-update"],
[data-nav-section="changelog"] {
  margin: 0;
}

body:not([data-last-sync]) #parametres [data-last-sync],
body:not([data-last-sync="failure"]) #parametres [data-last-sync="failure"],
body:not([data-last-sync="success"]) #parametres [data-last-sync="success"],
body:not([data-last-sync="loading"]) #parametres [data-last-sync="loading"],
form[name="app-settings"]:not([data-public-profile="true"]) [data-public-profile] {
  display: none;
}

button > load-spinner {
  --size: 24px;
}

[data-sprites-progress]:empty {
  display: none;
}

[data-sprites-progress]:not(:empty)::before {
  content: '(';
}

[data-sprites-progress]:not(:empty)::after {
  content: ')';
}

#parametres[data-online-backup][data-last-sync=success] .success,
#parametres[data-online-backup][data-last-sync=failure] .failure {
  display: inline;
}

label[for="pick-import-file"],
#pick-import-file {
  width: .1px;
	height: .1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.un-parametre.theme input[type="radio"] + label {
  margin: 0;
}

input-slider[name="theme-hue"] {
  --block-size: var(--tap-safe-size);
  --inline-size: 80cqw;
  --thumb-width: 14px;
}

input-slider[name="theme-hue"]::part(slider-track) {
  --couleurs: white 0%, black 100%;
  background: var(--gradient, transparent);
  width: 100%;
  height: 100%;
  border: none;
  --border: none;
  outline: var(--border, none);
  border-radius: var(--border-radius);
}

input-slider[name="theme-hue"]::part(slider-thumb) {
  background: transparent;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 0 2px rgb(var(--on-surface)),
              0 0 0 2px rgb(var(--inverse-on-surface));
  outline-offset: 5px;
}

.current-account-info {
  margin-bottom: -8px;
}

[data-value="current-account"] {
  color: rgb(var(--primary));
}

text-field[name="username"] {
  max-width: 18ch;
}

form[name="app-settings"] > *:last-child {
  padding-bottom: 0;
}

#changelog {
  --from-x: 0;
  --from-y: 1rem;
}

.changelog-card {
  margin: auto;
}

.changelog-card > ul {
  margin: 0;
}

.changelog-card li + li {
  margin-top: .4em;
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!! À PROPOS DU SHINYDEX !!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.a-propos-conteneur {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.app-icon {
  display: flex;
  width: 120px;
  height: 120px;
  min-height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid rgb(var(--outline-variant));
}

.app-icon > svg {
  width: 120px;
  height: 120px;
  --background-top: rgb(var(--primary-60));
}

.lien-source {
  color: var(--accent-color);
  align-items: center;
  display: inline-flex;
}

@media (any-pointer: coarse) {
  .lien-source {
    min-height: 30px;
  }
}

.lien-source .material-icons {
  vertical-align: middle;
  margin-right: 4px;
}

.lien-source > span:nth-of-type(2) {
  text-decoration: underline;
}

.lien-source:has(span:nth-of-type(2)) {
  text-decoration: none;
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!! PARTAGE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!! SPRITE VIEWER, FILTER MENU & OBFUSCATOR !!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

#sprite-viewer,
#filter-menu,
#user-search,
#changelog,
#top-layer,
#obfuscator {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

#sprite-viewer {
  z-index: var(--z-sprite-viewer);
}

#obfuscator {
  z-index: var(--z-obfuscator);
}

#top-layer,
#filter-menu,
#user-search,
#changelog {
  background-color: transparent;
  z-index: var(--z-obfuscator);
}

#filter-menu,
#user-search,
#changelog {
  background: rgb(var(--surface), .5);
}

body[data-section-actuelle~="top-layer"] #top-layer {
  display: contents;
}

#top-layer > * {
  z-index: var(--z-top-layer);
}

/*@media (max-width: 719px) {
  #top-layer > .mobile-centered {
    max-width: calc(100vw - 16px) !important;
    max-height: calc(100vh - 16px) !important;
    min-width: unset !important;
    margin: 8px;
    top: 50vh !important;
    left: 50vw !important;
    transform: translate(-50%, -50%);
  }
}*/



/*
 * Notification
 */

.notification-container {
  width: 100%;
  height: auto;
  max-height: calc(50vh - var(--bottom-bar-height));
  overflow-y: auto;
  position: fixed;
  z-index: var(--z-notification);
  top: calc(100% - var(--bottom-bar-height));
  transform: translateY(calc(-1px * var(--notification-container-height, 0)));
  transition: transform .3s var(--easing-standard);
}

.notification-container.no-animation {
  transition: none;
}

.notification-container > .snackbar:first-child {
  margin-top: 0;
}

.snackbar.signin-prompt {
  grid-template-columns: 1fr var(--dismiss-column);
  grid-template-rows: auto auto;
}

.snackbar.signin-prompt > .snackbar-message {
  grid-row: 2;
  grid-column: 1 / -1;
  padding-top: 0;
  padding-right: 16px;
}

.signin-button-container {
  padding: 8px 0;
  margin-left: -8px;
  height: 40px;
  overflow: hidden;
}


/*
 * Bouton installer
 */

[data-action="install-app"] {
  /*position: absolute;
  bottom: calc(0.5*(56px - 30px));
  right: 20px;*/
  display: none;
}


/*
 * Sign-in with Google
 */

#google-signin-button-container {
  color-scheme: light;
  width: fit-content;
  height: fit-content;
  margin: 8px auto;
  overflow: hidden;
}

#google-one-tap-container {
  color-scheme: light;
  display: flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  margin: auto;
}

iframe[src^="https://accounts.google.com"] {
  color-scheme: light;
}

body:not([data-logged-in="true"]) [data-logged-in],
body[data-logged-in="true"] [data-logged-out],
body[data-public-profile="true"] [data-no-public-profile],
body[data-has-username="true"] [data-no-username],
body[data-logged-in="true"][data-public-profile="true"][data-has-username="true"] [data-not-shared],
body:not([data-logged-in="true"]) [data-shared],
body:not([data-public-profile="true"]) [data-shared],
body:not([data-has-username="true"]) [data-shared] {
  display: none !important;
}