.shiny-rate {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20px;
  gap: 4px;
  padding: 2px 8px;
  margin: 0;
  line-height: initial;
  height: fit-content;
  align-self: center;
  justify-self: end;
  border-radius: 20px;
  position: relative;
  --hue-min: 20;
  --hue-max: 130;
  background: hsl(calc(var(--hue-min) + var(--hue-coeff) * (var(--hue-max) - var(--hue-min))), 50%, 50%);
}

.full-odds {
  background: repeating-linear-gradient(-45deg, 
    hsl(2,80%,50%) 0, 
    hsl(24,100%,50%) 5px, 
    hsl(39,100%,50%) 10px, 
    hsl(70,100%,50%) 15px, 
    hsl(158,100%,50%) 20px, 
    hsl(230,70%,50%) 25px, 
    hsl(252,100%,70%) 30px, 
    hsl(2,80%,50%) 35px
  );
}

.charm-odds {
  background: repeating-linear-gradient(-45deg, 
    mediumslateblue 0, 
    cyan 5px, 
    white 10px, 
    cyan 15px, 
    mediumslateblue 20px
  );
}

.one-odds {
  background: white;
}

.unknown-odds {
  background: transparent;
}

.shiny-rate-background {
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  opacity: 1;
  top: 2px;
  left: 2px;
  border-radius: 20px;
}

.shiny-rate.with-charm {
  grid-template-columns: auto auto;
}

.shiny-rate :is(.shiny-charm, .shiny-rate-data) {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.shiny-rate:not(.with-charm) > .shiny-charm {
  display: none;
}

.shiny-rate.unknown-odds :is(.shiny-charm, .shiny-rate-data) {
  display: none;
}

.shiny-charm {
  grid-row: 1;
  grid-column: 1;
}

.shiny-charm > .icon {
  margin-bottom: -5px;
  margin-left: -14px;
  margin-top: -10px;
  margin-right: -7px;
}

.shiny-rate-text {
  color: rgb(var(--on-surface-variant));
  font-size: 1em;
}

.numerator.shiny-rate-text {
  font-size: .5em;
  position: absolute;
  top: 0;
  left: 0;
}

.separator.shiny-rate-text {
  opacity: .6;
  margin: 0 1px 0 3px;
  font-size: 1em;
}