:host {
  --ball-anim-duration: .2s;
  --ball-anim-timing: var(--easing-decelerate);
}

:host([open]) {
  --ball-anim-duration: .11s;
  --ball-anim-timing: var(--easing-accelerate);
}

.container {
  width: 100%;
  height: 120px;
  min-height: 120px;
  overflow: hidden;
  border-radius: var(--border-radius);
  display: grid;
  --last-column: 0;
  grid-template-columns: [sprite] 112px [identity] 1fr [misc] auto [note] var(--last-column);
  grid-template-rows: 1fr [identity] auto 1fr [capture] auto 1fr;
  position: relative;
  padding: 4px;
  box-sizing: border-box;
}


/**
 * Sprite & menu
 */

pokemon-sprite,
.menu {
  grid-column: sprite;
  grid-row: 1 / -1;
  --size: 112px;
  width: var(--size);
  height: var(--size);
  display: grid;
  place-items: center;
  --distance-to-parent-border: 4px;
  border-radius: var(--sub-border-radius);
}

/*pokemon-sprite,
.menu {
  --elevation-opacity: var(--elevation-2-opacity);
}*/

pokemon-sprite:not([dexid]),
pokemon-sprite:not([dexid]) ~ * {
  display: none;
}

[data-type="caughtAs-sprite"][dexid="0"] {
  display: none;
}

[data-type="caughtAs-sprite"] {
  --surface-color: var(--surface-container-low);
  border: 2px solid rgb(var(--surface-container-highest));
  place-self: start start;
  overflow: clip;
  border-radius: 20px;
  justify-self: center;
  --parent-size: var(--size);
  place-self: center;
  border-radius: 9px; /* comme l'icône des jeux */
  margin: -2px; /* compense la bordure */

  &::part(image) {
    transition: opacity .2s linear;
  }
}

.menu > button {
  margin: 0;
}

.menu > button:not(:focus, :hover, :active) {
  --state-opacity: 0;
}

[data-action="restore"] {
  display: none;
}

.pokemon-notes,
.menu {
  pointer-events: none;
  opacity: 0;
  transform: translate3d(50px, 0, 0);
  transition: transform .1s var(--easing-accelerate),
              opacity .1s var(--easing-accelerate);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transform: translate3d(-50px, 0, 0);
  --surface-opacity: .5;
  /*--elevation-opacity: calc(var(--surface-opacity) * var(--elevation-2-opacity));*/
}

:host([open]) .pokemon-notes,
:host([open]) .menu {
  pointer-events: initial;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform .1s var(--easing-decelerate),
              opacity .1s var(--easing-decelerate);
}


/**
 * Pokémon identity: name, species, icons, menu button
 */

.pokemon-infos__identity {
  grid-row: identity;
  grid-column: identity;
  display: grid;
  grid-template-rows: [name] 32px [species] auto;
  grid-template-columns: [preevo] var(--preevo-col, 0px) [ball] 32px [name] auto [icons] auto 1fr;
  position: relative;
  left: -16px;
  align-items: center;
  line-height: initial;

  &:has([data-type="caughtAs-sprite"]:not([dexid="0"])) {
    --preevo-col: auto;
  }
}

/* Ball */

[data-type="caughtAs-sprite"],
[data-type="ball"] {
  grid-row: name;
  grid-column: ball;
  transition:
    transform var(--ball-anim-duration) var(--ball-anim-timing),
    scale var(--ball-anim-duration) var(--ball-anim-timing);
  transform: translate(0) rotate(0);
}

[data-type="caughtAs-sprite"] {
  grid-row: 1 / -1;
  grid-column: preevo;
}

:host([open]) [data-type="ball"] {
  transform: translate(20px) rotate(120deg);
}

:host([open]) [data-type="caughtAs-sprite"] {
  transform: translate(20px);
}

/* Name & species */

[data-type="species"],
[data-type="forme"] {
  grid-row: species;
  grid-column: name;
  opacity: .8;
  display: block;
  position: relative;
  left: calc(.5ch * 22/16);
  top: -6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[data-type="forme"]::first-letter {
  text-transform: uppercase;
}

[data-type="name"],
[data-type="name"]:empty ~ [data-type="species"] {
  grid-row: name;
  grid-column: name;
  opacity: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  left: 0;
  top: 0;
  text-shadow: 1px 1px rgb(var(--surface-variant));
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
}

[data-type="name"]:empty ~ [data-type="forme"],
[data-type="name"]:not(:empty) ~ [data-type="species"] {
  grid-column: name / -1;
}

[data-type="name"]:empty,
[data-type="name"]:not(:empty) ~ [data-type="forme"] {
  display: none;
}

/* Icons */

.identity-icons {
  grid-row: name;
  grid-column: icons;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 4px;
}

[data-type="gene"] {
  scale: .9;
}

[data-type="originalTrainer"],
[data-type="originMark"] {
  scale: .8;
  filter: invert(var(--dark-coeff));
}

/* Menu button */

.menu-hint {
  color: rgb(var(--on-surface-variant), .8);
}

button.icon-button.menu-hint {
  width: 32px;
  height: 32px;
  min-height: 32px;
  margin: 0;
}

button.icon-button.menu-hint::before {
  display: none; /* not needed since the whole card is clickable */
}

.menu-hint:not(:hover, :active) {
  --state-opacity: 0 !important;
}


/**
 * Capture data: game, method, date, shiny rate
 */

.pokemon-infos__capture {
  grid-row: capture;
  grid-column: identity;
  display: grid;
  grid-template-columns: [game] 32px [info] auto [rate] 1fr;
  grid-template-rows: [method] auto [date] auto [details] auto;
  gap: 0 5px;
  margin-inline: 16px;
  line-height: initial;
  align-items: center;

  &:has([data-type="caughtAs-sprite"]:not([dexid="0"])) {
    grid-template-columns: [preevo] auto [game] 32px [info] auto [rate] 1fr;
    position: relative;
    left: -32px; /* 32px du sprite + 5px du gap */
    width: 100%;
  }
}

/* Game */

.pokemon-infos__capture > [data-type="game"] {
	grid-row: method / details;
  grid-column: game;
}

/* Method */

.pokemon-infos__capture > [data-type="method"] {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Shiny rate */

.shiny-rate {
  grid-row: method / details;
  grid-column: rate;
}

/* Method details (if enabled in the main card) */

.pokemon-infos__capture > .count-container {
  grid-row: details;
  grid-column: 1 / -1;
  margin: 7px -12px 0;
  --padding-inline: 4px;
  padding: var(--padding-inline) calc(3 * var(--padding-inline));
  --distance-to-parent-border: 4px;
  border-radius: var(--sub-border-radius);
  --text-color: var(--on-surface-variant);
}

.pokemon-infos__capture > .count-container > .arrow {
  position: absolute;
  left: calc(50% - 7px);
  top: -6px;
  height: 7px;
  width: 14px;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  --surface-color: inherit;
  --text-color: inherit;
}


/**
 * Notes & method details (if disabled in main card)
 */

.pokemon-notes {
  grid-row: 1 / -1;
  grid-column: identity / -1;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 100%;
  font-size: 1em;
  text-align: left;
  line-height: 20px;
  padding: 0 4px 0 12px;
  z-index: 4;
  overflow: visible;
  scrollbar-width: thin;
  position: relative;
}

.pokemon-notes__arrow {
  display: none;
  position: absolute;
  width: 7px;
  height: 14px;
  top: calc(50% - 7px);
  left: -6px;
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}

.pokemon-notes__texte {
  margin: auto;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  padding-right: .5ch;
  width: 100%;
}

.pokemon-notes__texte > p {
  margin: 0;
}

.empty {
  color: rgb(var(--on-surface-variant), .5);
}

.spacer {
  flex-grow: 1;
}

[data-action="auto-translate"],
[data-action="undo-auto-translate"] {
  display: none;
}

@container section-contenu (min-width: 650px) {
  .container {
    --last-column: auto;
  }

  .pokemon-notes {
    grid-column: note / -1;
    opacity: 1;
    transform: none;
    width: min(100cqi - 400px, 50cqi);
    max-height: 112px;
    --surface-color: var(--surface-container-low);
    --distance-to-parent-border: 4px;
    border-radius: var(--sub-border-radius);
    padding: 4px 8px 4px 12px;
  }

  .pokemon-notes__arrow {
    display: block;
  }

  .pokemon-notes,
  :host([open]) .pokemon-notes {
    transition: none;
  }

  :host([open]) [data-type="ball"],
  :host([open]) [data-type="caughtAs-sprite"] {
    transform: translate(0) rotate(0);
  }

  .menu {
    z-index: 2;
  }

  .pokemon-infos__identity {
    z-index: 3;
  }
}